<section class="search-section">
  <div class="search-background">
    <form class="search-bar">
      <input type="num" placeholder="Search by zip code" autofocus=""/>
      <input type="submit" value="Search" />
    </form>
  </div>
</section>

<div class="container">

</div>

<script>

var listing = document.querySelector(".zip");
var form = document.querySelector(".search-bar");
var container = document.querySelector(".container");

form.addEventListener("submit", search);

function search (e) {
  e.preventDefault();

  container.innerHTML = "";
  var entry = document.querySelector('input[type="num"]');
  zip = parseInt(entry.value)
  var url = "http://localhost:3000/zips/?z=" + zip;
  fewd.getJSON(url, createMatches)
  entry.value = null;
}

function createMatches(json) {
  var matches = json
  matches.forEach(function(match){
  createMatch(match["title"], match["body"], match["zip"], match["id"]);
  });
}

function createMatch(title, body, zip, id) {
  var div1 = document.createElement("div");
  var div2 = document.createElement("div");
  var div3 = document.createElement("div");
  var a = document.createElement("a");

  a.textContent = title;
  a.setAttribute("href", "/searches/?id=" + id)

  div3.textContent = body;

  container.appendChild(div1);
  div1.appendChild(div2);
  div1.appendChild(div3);
  div2.appendChild(a);


  div1.classList.add("listing-match");
  div2.classList.add("match-title");
  div3.classList.add("match-body");

}
</script>



