<h1>Hello world!</h1>


  <% for listing in @listings %>
    <h2><%= listing.title %></h2>
    <p class="body"><%= listing.body %></p>
    <p class="zip"><%= listing.zip %></p>
	<% for photo in listing.photos %>
		<%= image_tag photo.picture.url(:medium) %>
	<% end %>

<% end %>