<section class="search-section">
  <div class="search-background">
    <form class="search-bar">
      <input type="num" placeholder="Search by zip code" autofocus=""/>
      <input type="submit" value="Search" />
    </form>
  </div>
</section>

<div class="container">

</div>

