<div class="container">
	
	<div class="listing-match">
		<% for match in @match %>
			<div class="match-title">
				<%= match.title %>
			</div>
			<div class="match-body">
				<p>
					<%= match.body %>
				</p>
				<div class="image-thumb">
					<% for photo in match.photos %>
						<%= image_tag photo.picture.url(:thumb) %>
					<% end %>
				</div>
				<div class="image-large">
				<% for photo in match.photos.first(1) %>
						<%= image_tag photo.picture.url(:large) %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
//Search listing view by id

var thumb = document.querySelector(".image-thumb");


thumb.addEventListener("click", sayHi);

function sayHi (e) {

	var large = document.querySelector(".image-large");
	large.innerHTML = ""
  var img = e.target.getAttribute("src");
  var newPath = img.replace("/thumb/", "/large/");
 
  //Set Large image
  var large = document.querySelector(".image-large");
  var newImg = document.createElement("img");

  large.appendChild(newImg);

  newImg.setAttribute("src", newPath)

}
</script>