<!DOCTYPE html>
<html>
<head>
  <title>SpaceShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-nav">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/listings">SpaceShare</a>
        <ul class="nav">
          <li class=""><a href="/listings">Home</a></li>
          <li class=""><a href="/listings/new">List your space!</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>

  <script type="text/javascript">

var listing = document.querySelector(".zip");
var form = document.querySelector(".search-bar");
var container = document.querySelector(".container");

form.addEventListener("submit", search);

function search (e) {
  e.preventDefault();

  container.innerHTML = "";
  var entry = document.querySelector('input[type="num"]');
  zip = parseInt(entry.value)
  var url = "http://localhost:3000/zips/?z=" + zip;
  fewd.getJSON(url, createMatches)
  entry.value = null;
}

function createMatches(json) {
  var matches = json
  matches.forEach(function(match){
  createMatch(match["title"], match["body"], match["zip"]);
  });
}

function createMatch(title, body, zip) {
  var div1 = document.createElement("div");
  var div2 = document.createElement("div");
  var div3 = document.createElement("div");
  var a = document.createElement("a");

  a.textContent = title;
  div3.textContent = body;


  container.appendChild(div1);
  div1.appendChild(div2);
  div1.appendChild(div3);
  div2.appendChild(a);


  div1.classList.add("listing-match");
  div2.classList.add("match-title");
  div3.classList.add("match-body");

}

  </script>

</body>
</html>
