<!DOCTYPE html>
<html>
<head>
  <title>SpaceShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-nav">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/listings">SpaceShare</a>
        <ul class="nav">
          <li class=""><a href="/listings">Home</a></li>
          <li class=""><a href="/listings/new">List your space!</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>

  <script type="text/javascript">

var listing = document.querySelector(".zip");
var zip = document.querySelector('input[type="num"]');
var form = document.querySelector("form");

form.addEventListener("submit", search);

function search (e) {
  e.preventDefault();

  zip = parseInt(zip.value)
  var url = "http://localhost:3000/zips/?z=" + zip;
  fewd.getJSON(url, sayHi)
}

function sayHi(json) {
  var object = json
  debugger
}

  </script>

</body>
</html>
